@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  margin: 0%;
  padding: 0%;
  background-color: #6bb468;
  font-family: Quicksand;
} */

span {
  color: rgb(217, 73, 73);
}

h1 {
  text-align: center;
  margin-top: 150px;
  color: bisque;
}

.wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -100px;
  transform: translate(-50%, 50%);
  padding: 15px;
  background: bisque;
  border-radius: 5px;
}

#button {
  color: #ffff;
  background: rgb(97, 97, 230);
  font-family: Quicksand;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  display: block;
  margin-top: 10%;
  cursor: pointer;
}

input {
  border: none;
  padding: 5px;
  border-radius: 5px;
} 

